# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\LENOVO\Desktop\technion\gitHUb\hw3_ai_project\ai_hw3\.idea/dataSources/
/dataSources.local.xml
